Package: gpgme
Source: gpgme
Version: 1.7.1-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libassuan, libc, libgpg-error, libgpgme (>= 1.7.1-1)
Description: GPGME - GnuPG Made Easy (utilities)
Homepage: http://www.gnupg.org/gpgme.html
Section: util
Priority: optional
