Package: libgmp-bootstrap
Source: gmp
Version: 6.1.1-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Provides: libgmp
Conflicts: libgmp
Requires: base-files, libc, libz
Description: Multiprecision arithmetic library
Section: libs
Priority: optional
Build-Essential: true
