Package: libubsan
Source: gcc
Version: 6.2.0-2
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc, libstdcxx, libgcc
Description: UBSan -- undefined behaviour sanitizer (runtime)
Section: libs
Priority: optional
