Package: libatomic-bootstrap
Source: gcc
Version: 6.2.0-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Provides: libatomic
Conflicts: libatomic
Requires: libc
Description: support library providing __atomic built-in functions
Section: libs
Priority: optional
