Package: sed
Source: sed
Version: 4.2.2-0
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc, update-alternatives
Description: The GNU sed stream editor
Homepage: http://www.gnu.org/software/sed/
Build-Essential: yes
Section: utils
Priority: optional
