Package: glibc-bin
Source: glibc
Version: 2.22-0
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc (>= 2.22-0)
Description: GNU C Library: Binaries
Section: devel
Priority: optional
Build-Essential: true
