Package: libssp
Source: gcc
Version: 6.2.0-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc
Description: GNU stack protection library (runtime)
Section: libs
Priority: optional
