Package: libatomic
Source: gcc
Version: 6.2.0-2
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc
Description: support library providing __atomic built-in functions
Section: libs
Priority: optional
