Package: libitm-bootstrap
Source: gcc
Version: 2.25.1-0
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Provides: libitm
Conflicts: libitm
Requires: libc
Description: GNU Transactional Memory Library
Section: libs
Priority: optional
