Package: libitm-bootstrap
Source: gcc
Version: 6.2.0-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Provides: libitm
Conflicts: libitm
Requires: libc
Description: GNU Transactional Memory Library
Section: libs
Priority: optional
