Package: glibc-bin-bootstrap
Source: glibc
Version: 2.22-0+uc0
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Provides: glibc-bin
Conflicts: glibc-bin
Requires: base-files, libc-bootstrap (>= 2.22-0+uc0)
Description: GNU C Library: Binaries
Section: devel
Priority: optional
Build-Essential: true
