Package: libstdcxx
Source: gcc
Version: 6.2.0-2
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc
Description: GNU Standard C++ Library v3
Section: libs
Priority: required
