Package: libgmp-devel
Source: gmp
Version: 6.1.1-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc-devel, libz-devel, libgmp (>= 6.1.1-1)
Description: Multiprecision arithmetic library (headers and static libraries)
Section: devel
Priority: optional
Build-Essential: true
