Package: libmagic
Source: file
Version: 5.25-0
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: base-files, libc, libz
Description: Determines file type using "magic" numbers  (libmagic shared libs)
Section: libs
Priority: standard
