Package: busybox-bootstrap
Version: 1.23.2-0+uc0
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Provides: busybox
Description: Tiny utilities for small and embedded systems
Requires: libc (>= 2.19)
Section: utils
Priority: optional
