Package: binutils-bootstrap
Source: binutils
Version: 2.25.1-0+uc0
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Provides: binutils
Conflicts: binutils
Description: GNU assembler, linker and binary utilities
Section: devel
