Package: libc-bootstrap
Source: glibc
Version: 2.24-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Provides: libc
Conflicts: libc
Requires: base-files
Description: GNU C Library: Shared libraries
Section: libs
Priority: optional
Build-Essential: true
