Package: libmagic-devel
Source: file
Version: 5.25-0
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc-devel, libz-devel, libmagic (>= 5.25-0)
Description: Determines file type using "magic" numbers  (headers and static libraries)
Section: devel
Priority: standard
