Package: libquadmath
Source: gcc
Version: 5.2.0-0
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc
Description: GCC Quad-Precision Math Library
Section: libs
Priority: optional
