Package: libz-devel-bootstrap
Source: zlib
Version: 1.2.8-0
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Provides: libz-devel
Conflicts: libz-devel
Requires: base-files, libz (>= 1.2.8-0), libc-devel
Description: GNU C Library: Shared libraries
Section: libs
Priority: optional
Build-Essential: true
