Package: libgomp-bootstrap
Source: gcc
Version: 6.2.0-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Provides: libgomp
Conflicts: libgomp
Requires: libc
Description: GCC OpenMP (GOMP) support library
Section: libs
Priority: optional
