Package: perl
Version: 1:5.24.0-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc, libbz2, libc, libz, update-alternatives
Description: Larry Wall's Practical Extraction and Report Language
Homepage: http://dev.perl.org/perl5/
Build-Essential: yes
Section: perl
Priority: standard
