Package: libgcc-bootstrap
Source: gcc
Version: 5.2.0-0
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Provides: libgcc
Conflicts: libgcc
Requires: libc
Description: GCC support library
Section: libs
Priority: required
