Package: libasan-bootstrap
Source: gcc
Version: 6.2.0-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Provides: libasan
Conflicts: libasan
Requires: libc, libstdcxx, libgcc
Description: AddressSanitizer -- a fast memory error detector
Section: libs
Priority: optional
