Package: libitm
Source: gcc
Version: 5.2.0-0
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc
Description: GNU Transactional Memory Library
Section: libs
Priority: optional
