Package: libcilkrts-bootstrap
Source: gcc
Version: 5.2.0-0
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Provides: libcilkrts
Conflicts: libcilkrts
Requires: libc, libstdcxx, libgcc
Description: Intel Cilk Plus language extensions (runtime)
Section: libs
Priority: optional
