Package: libubsan-bootstrap
Source: gcc
Version: 5.2.0-0
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Provides: libubsan
Conflicts: libubsan
Requires: libc, libstdcxx, libgcc
Description: UBSan -- undefined behaviour sanitizer (runtime)
Section: libs
Priority: optional
