Package: libc
Source: glibc
Version: 2.24-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: base-files
Description: GNU C Library: Shared libraries
Section: libs
Priority: optional
Build-Essential: true
