Package: libgomp
Source: gcc
Version: 6.2.0-2
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc
Description: GCC OpenMP (GOMP) support library
Section: libs
Priority: optional
