Package: libmpfr-devel
Source: mpfr
Version: 3.1.4-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Depends: libc-devel, libmpfr (>= 3.1.4-1)
Description: multiple precision floating-point computation (headers and static libs)
Section: devel
Priority: optional
