Package: busybox-bootstrap
Version: 1.25.1-1
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Provides: busybox
Description: Tiny utilities for small and embedded systems
Requires: libc (>= 2.24)
Section: utils
Priority: optional
