Package: busybox
Version: 1.23.2-0
Maintainer: Craig Condit <ccondit@randomcoder.org>
Architecture: amd64
Description: Tiny utilities for small and embedded systems
Depends: libc
Section: utils
Priority: required
